<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1><%= title %></h1>
    <% if (views > 1) { %>
      <p>views: <%= views %></p>
      <p>expires in: <%= expire/1000 %> s</p>
    <% } else { %>
      <p>Welcome to <%= title %></p>
    <% } %>
    
  </body>
</html>
